<body>
    <div class="container">
        <div class="title">Candidature</div>
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Cin</span>
                        <input type="number" placeholder="Enter your cin" required>
                    </div>
    
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input type="text" placeholder="Enter your name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" placeholder="Enter your username" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Date Naissance</span>
                        <input type="date" placeholder="Enter your date" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Situation</span>
                        <input type="text" placeholder="Enter your situation" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Nationalite</span>
                        <input type="text" placeholder="Enter your nationalite" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" placeholder="Enter your number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="text" placeholder="Enter your password" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="text" placeholder="Confirm your password" required>
                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" name="gender" id="dot-1">
                    <input type="radio" name="gender" id="dot-2">
                    <span class="gender-title">Gender</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="gender">Male</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="gender">Female</span>
                        </label>
                       
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </form>
    </div>
    </body>