<body>
    <div class="container">
        <div class="title">PréCandidat</div>
            <form action="#">
                <div class="user-details">
    
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input type="text" placeholder="Enter your name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" placeholder="Enter your username" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" placeholder="Enter your email" required>
                    </div>
                    
                </div>
                
                
                <div class="button">
                    <input type="submit" value="send">
                </div>
            </form>
    </div>
    </body>