

    <body>
        <div class="container">
            <div class="title">Audition Global</div>
                <form action="#">
                    <div class="user-details">
        
                        <div class="input-box">
                            <span class="details">Date</span>
                            <input type="date" placeholder="Enter your name" required>
                        </div>
                        <div class="input-box">
                            <span class="details">HeureDebut</span>
                            <input type="datetime" placeholder="Enter your HeureDebut" required>
                        </div>
                        <div class="input-box">
                            <span class="details">HeureFin</span>
                            <input type="datetime" placeholder="Enter your HeureFin" required>
                        </div>
                        
                    </div>
                    
                    
                    <div class="button">
                        <input type="submit" value="send">
                    </div>
                </form>
        </div>
        </body>